# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Myblog\anhtran_nopromises.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
